.room-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 40%;
  padding: 3rem 2rem 2rem 2rem;
  border-right: 1px solid $very-light-grey;
  background-color: $white;
  box-shadow: 0 2px 4px rgba(black, .05);
}
